---
import { getImage } from 'astro:assets'

import Card from '@/components/astro/Card.astro'
import List from '@/components/astro/List.astro'
import ListItem from '@/components/astro/ListItem.astro'
import Seo from '@/components/astro/Seo.astro'
import Video from '@/components/astro/Video.astro'

import Layout from '@/layouts/Layout.astro'

import posterElectroAudiogram from '@/assets/images/thumbnail-electro-audiogram.png'
import videoElectroAudiogram from '@/assets/videos/thumbnail-electro-audiogram.mp4'

const heading =
  'Creative and technically versatile front-end developer with a strong background in software engineering and digital design.'
const shortHeading =
  'Creative and technically versatile front-end developer with a strong background in software engineering and digital design.'
const baseline =
  'I have strong expertise in modern JavaScript frameworks, creative coding and UI/UX design. I thrive in both collaborative and autonomous environments and bring a problem-solving mindset, strong visual culture, and rigorous methodology to each project.'
const socialLinks = [
  {
    name: 'Instagram',
    url: 'https://instagram.com/guillaumecatel',
  },
  {
    name: 'Linkedin',
    url: 'https://linkedin.com/in/guillaumecatel',
  },
  {
    name: 'Github',
    url: 'https://github.com/guillaumecatel',
  },
]

const showcaseItems = [
  {
    title: 'Festival Electro Audiogram',
    description:
      'Branding, UX/UI Design, development and live coding performance',
    poster: await getImage({
      src: posterElectroAudiogram,
      width: 940,
      format: 'avif',
    }),
    video: videoElectroAudiogram,
    wip: true,
    liveUrl: undefined,
  },
]
---

<Layout>
  <Fragment slot='head'>
    <Seo
      description={shortHeading}
      jsonLd={{
        '@context': 'https://schema.org',
        '@type': 'ProfilePage',
        'mainEntity': {
          '@type': 'Person',
          'name': 'Guillaume Catel',
          'url': 'https://guillaumecatel.com/',
          // 'image': 'https://guillaumecatel.com/path-to-your-photo.jpg',
          'jobTitle': 'Creative and front-end developer',
          'description': heading,
          'email': 'mailto:hello@guillaumecatel.com',
          'sameAs': socialLinks.map((link) => link.url),
        },
      }}
    />
  </Fragment>

  <Fragment slot='body'>
    <div id='smooth-wrapper'>
      <div
        id='smooth-content'
        class='relative flex max-w-120 flex-col md:mx-auto'
        data-page='Index'>
        <div
          class='relative flex min-h-lvh flex-col pt-[var(--layout-safe-area-inset-start)] pb-[var(--layout-safe-area-inset-end)]'
          data-page-section='Hero'>
          <div
            class='mt-auto flex flex-col justify-end gap-12'
            data-page-section='HeroInner'
            data-speed='0.5'>
            <h1 class='sr-only'>Guillaume CATEL</h1>
            <div class='flex flex-col gap-6 px-3 font-serif text-pretty'>
              <span
                data-page-section='HeroHeading'
                class='invisible inline-block font-sans text-lg font-normal noscript:visible'
                aria-hidden='true'>
                {heading}
              </span>
              <p class='sr-only'>{heading}</p>
              <span
                data-page-section='HeroBaseline'
                class='text-md invisible font-sans font-light noscript:visible'
                aria-hidden='true'>
                {baseline}
              </span>
              <p class='sr-only'>{baseline}</p>
            </div>

            <hr
              class='mx-3 border-0 border-t border-neutral-950/10'
              data-zone='separator'
            />

            <section
              class='invisible grid grid-cols-12 gap-3 px-3 noscript:visible'
              data-page-section='HeroInfo'>
              <h2 class='sr-only'>Informations</h2>
              <div class='col-span-6 gap-3'>
                <List>
                  <h3 slot='title'>Focused in</h3>
                  <ListItem>Startups</ListItem>
                  <ListItem>Tech companies</ListItem>
                  <ListItem>Design Studios</ListItem>
                  <ListItem>Advertising Agencies</ListItem>
                </List>
              </div>
              <div class='col-span-6 gap-3'>
                <List>
                  <h3 slot='title'>Specialized in</h3>
                  <ListItem>Software engineering</ListItem>
                  <ListItem>UX/UI design</ListItem>
                  <ListItem>Accessibility</ListItem>
                  <ListItem>Performances</ListItem>
                </List>
              </div>
            </section>
          </div>
        </div>
        <div
          class='relative flex flex-col gap-16 px-1.5 py-12 pb-[var(--layout-safe-area-inset-end)]'
          data-page-section='Showcase'>
          {
            showcaseItems.map((item, i) => (
              <Card
                class='min-h-[33vh]'
                data-page-section='ShowcaseItem'
                data-lag={i * 0.25}
                wip={item.wip}
                liveUrl={item.liveUrl}>
                <Video
                  poster={item.poster.src}
                  src={item.video}
                  class='size-full object-cover'
                  slot='thumbnail'
                />
                <h3 slot='title'>{item.title}</h3>
                <div slot='description'>{item.description}</div>
              </Card>
            ))
          }
        </div>
      </div>
    </div>

    <script>
      import { useIndexPageAnimations } from '@/hooks/astro/useIndexPageAnimations'

      useIndexPageAnimations()
    </script>
  </Fragment>
</Layout>
